@import '../../common/colors.scss';

.card {
    background-color: $secondary-color;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    min-height: 450px;
    height: 100%;
    margin-right: 15px;

    &:hover {
        transform: scale(1.1);
    }

    &__image {
        height: 350px;
        img {
            object-fit: fill;
        }
    }

    &__bottom {
        padding: 10px;
        color: $font-primary;
    }

    &__title {
        font-size: 25px;
    }

}